include mixins
doctype
html( lang="es" )
    head 
        title Plantilla Bootstrap con Jade
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Baking Bootstrap Snippets with Jade')

        +bootswatch("superhero")

    body(style="padding-bottom:10rem;")
        +nav("AESI", "dropdown_menu", "inverse")
            +nav_item("/laboratorio6") Inicio 
            +nav_item("/productos", "active") Productos
            +nav_item("/contacto") Contacto
            +nav_item("/prueba-jade") Prueba Index
            
        block content