extends layout 
block content 
    h1(style="width: 100%; text-align: center; margin-bottom: 4rem;") Nuestros Productos
    .row 
        .container
            .col-md-4.col-sm-6.col-xs-12
                +panel1("Panel Heading", "info") Lo último en ropa de moda, playeras, shorts, poleras, etc
            .col-md-4.col-sm-6.col-xs-12
                +panel1("Panel Heading", "info") Lo último en ropa de moda, playeras, shorts, poleras, etc
            .col-md-4.col-sm-6.col-xs-12
                +panel1("Panel Heading", "info") Lo último en ropa de moda, playeras, shorts, poleras, etc
            .col-md-4.col-sm-6.col-xs-12
                +panel1("Panel Heading", "info") Lo último en ropa de moda, playeras, shorts, poleras, etc
            .col-md-4.col-sm-6.col-xs-12
                +panel1("Panel Heading", "info") Lo último en ropa de moda, playeras, shorts, poleras, etc
            .col-md-4.col-sm-6.col-xs-12
                +panel1("Panel Heading", "info") Lo último en ropa de moda, playeras, shorts, poleras, etc