extends layout 
block content 

    h1(style="width: 100%; text-align: center; margin-bottom: 5rem;") Santiago Alexandre Barboza Mujica
    .container
        .jumbotron 
                h1 Bienvenidos a nuestra tienda de ropa 
                p Aquí encontrarás todas las mejores marcas en ropa, ya sea deportiva, casual, veraniega, invernal, etc
                img(src="https://img.freepik.com/foto-gratis/tienda-ropa-tienda-ropa-perchas-tienda-boutique-moderna_1150-8886.jpg", alt="ropa", style="width: 100%; margin-bottom: 4rem;")
                p: +button("primary", "/productos", "large") Saber más
                
